# Micro-controller information
[mcu]
serial: /dev/serial/by-id/usb-1a86_USB2.0-Serial-if00-port0
pin_map: arduino

# The printer section controls high level printer settings.
[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_accel_to_decel: 1500
max_z_velocity: 5
max_z_accel: 50
square_corner_velocity: 5

# Bed probing hardware
[bltouch]
sensor_pin: ar35
control_pin: ar7
x_offset: -39
y_offset: 0
z_offset: 0.310 
speed: 5.0
samples: 2

# Customized homing
[safe_z_home]
home_xy_position: 154,110
speed: 50.0
z_hop: 25.0
z_hop_speed: 5
